html,
body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
}


/* typography */

h1 {
    font-size: 1.125rem;
    color: #2B283A;
    margin-top: 0;
}

p {
    color: #2B283A;
}

a,
.footer__text {
    color: #918E9B;
    font-size: .7rem;
}

a:hover,
a:focus,
a:active {
  text-transform: uppercase;
  outline-color: #918E9B;
  outline-width: thin;
}

/* header */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    background-color: #F55A5A;
    color: #fff;
    margin-bottom: 0;
}

.page-title {
    color: #fff;
    font-size: .875rem;
    text-transform: lowercase;
}


/* card */

.card {
    display: grid;
    grid-template-areas: 
      'top top'
      'img bottom';
    align-items: center;
    max-width: 750px;
    margin: 0 auto;
    padding: 1.5em;
    box-shadow: 0 0.25em .5em #E5E5E5;
}

.card:last-child {
  box-shadow: none;
}

.card__img {
  grid-area: img;
  align-self: start;
  width: 124px;
  height: 165px;
  object-fit: cover;
  margin-top: 0;
  border-radius: .3em;
  box-shadow: 0 0 .5em #E5E5E5;
}

.card__top {
  grid-area: top;
  font-size: .7rem;
  display: flex;
  align-items: center;
  gap: .75em;
  margin-bottom: .5em;
}

.fa-location-dot {
    color: #F55A5A;
    margin: 0;
}

.card__location {
    text-transform: uppercase;
}

.card__bottom {
  grid-area: bottom;
  margin-left: 1em;
}

.card__date {
    font-size: .7rem;
    font-weight: 700;
    margin-bottom: 0;
}

.card__description {
    font-size: .8rem;
    line-height: 150%;
    margin-top: .5em;
}


/* Footer */

footer {
  background-color: #F5F5F5;
  text-align: center;
  padding: .5em 0;
}


/* Media queries */

@media (min-width: 480px) {
  .card {
    grid-template-areas: 
      'img top'
      'img bottom';
  }

  .card__img {
    margin-right: 1em;
  }

  .card__bottom {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .page-title {
    font-size: 1.125rem;
  }

  a,
  .footer__text {
    font-size: .75rem;
  }

  .card {
    grid-template-areas: 
      'img top'
      'img bottom';
    box-shadow: none;
    border-bottom: 1px solid #E5E5E5;
  }

  .card:last-child {
    border-bottom: none;
  }

  .card__img {
    width: 165px;
    height: 220px;
    margin-right: 2em;
  }

  .card__top {
    align-self: end;
    font-size: .8rem;
    gap: .5em;
  }

  .card__bottom {
    align-self: start;
    margin-left: 0;
  }

  .card__date {
    font-size: .8rem;
  }

  .card__description {
    font-size: .95rem;
  }
}